/* 
 * e-gtk-theme-0.16.2
 * e/gtk-3.0/common.css
 */

.background {
	background-color: @bg_color;
	color: @fg_color;
}

.image,
.statusbar {
	background-color: transparent;
}

.button:active,
.button:insensitive {
    background-color: transparent;
	background-image: url("img/button_clicked.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.button,
.button:prelight {
    background-color: transparent;
	background-image: url("img/button_normal.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.check,
.check:insensitive,
.check:inconsistent,
.check:inconsistent,
.check:inconsistent:insensitive {
	background-image: url("img/inset_shadow_square_tiny.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.check:active,
.check:active:insensitive,
.check:hover,
.check:inconsistent:active,
.check:inconsistent:hover,
.check:inconsistent:insensitive:hover {
	background-image: url("img/inset_shadow_square_tiny_in.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.check:active:hover,
.check:inconsistent:active:hover {
	background-image: url("img/inset_shadow_square_tiny_glow_in.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.column.header:active,
.column.header:hover {
	background-image: url("img/vgrad_dark.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.column.header,
.column.header:insensitive {
	background-image: url("img/vgrad_med_curved.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.combobox.button {
	background-image: url("img/button_normal.png");
	background-repeat: no-repeat;
	background-size: cover;
}


.radio,
.radio:inconsistent,
.radio:inconsistent:insensitive {
	background-image: url("img/inset_shadow_circle_tiny.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.radio:insensitive,
.radio:inconsistent:hover,
.radio:insensitive:hover {
	background-image: url("img/inset_shadow_circle_tiny_ins.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.radio:hover,
.radio:active,
.radio:active:hover,
.radio:active:insensitive {
	background-image: url("img/inset_shadow_circle_tiny_in.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:active:hover,
.scrollbar.button:insensitive {
	background-color: @bg_color;
	border-style: solid;
	border-image: none;
	border-radius: 0px;
	border-color: transparent;
	border-width: 0px;
	color: transparent;
}

.menuitem.separator,
.separator.horizontal {
	padding: 0px;
	background-image: url("img/separator_horiz.png");
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-origin: border-box;
}

.separator.vertical {
	padding: 0px;
	background-image: url("img/separator_vert.png");
	background-repeat: no-repeat;
	background-size: 2px 100%;
	background-origin: border-box;
}

.arrow.up,
.scrollbar.button.top {
	background-image: url("img/sym_up_light_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.up:hover,
.scrollbar.button.top:hover {
	background-image: url("img/sym_up_glow_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.up:active,
.scrollbar.button.top:active {
	background-image: url("img/sym_up_dark_selected.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.up:insensitive,
.scrollbar.button.top:insensitive {
	background-image: url("img/sym_up_dark_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.arrow.down,
.scrollbar.button.bottom {
	background-image: url("img/sym_down_light_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.down:hover,
.scrollbar.button.bottom:hover {
	background-image: url("img/sym_down_glow_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.down:active,
.scrollbar.button.bottom:active {
	background-image: url("img/sym_down_dark_selected.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.down:insensitive,
.scrollbar.button.bottom:insensitive {
	background-image: url("img/sym_down_dark_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.arrow.right:active
.menuitem.arrow:active,
.scrollbar.button.right:active {
	background-image: url("img/sym_right_light_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.right,
.menuitem.arrow,
.scrollbar.button.right {
	background-image: url("img/sym_right_light_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.right:hover,
.menuitem.arrow:hover,
.scrollbar.button.right:hover {
	background-image: url("img/sym_right_glow_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.right:insensitive,
.menuitem.arrow:insensitive,
.scrollbar.button.right:insensitive {
	background-image: url("img/sym_right_dark_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.arrow.left,
.scrollbar.button.left {
	background-image: url("img/sym_left_light_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.left:active
.scrollbar.button.left:active {
	background-image: url("img/sym_left_dark_selected.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.left:hover,
.scrollbar.button.left:hover {
	background-image: url("img/sym_left_glow_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.arrow.left:insensitive,
.scrollbar.button.left:insensitive {
	background-image: url("img/sym_left_dark_normal.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.entry {
	background-image: url("img/inset_shadow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
	padding: 2px;
	border-image: url("img/bevel_in.png") 1 1 1 1 / 2 2 2 2 stretch;
}


.entry:focus {
	border-image: url("img/outline_glow.png") 0 0 0 0 / 2 2 2 2 stretch;
}

.pane-separator.horizontal,
.handle.horizontal {
	background-color: @bg_color;
	background-image: url("img/holes_vert.png");
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

.pane-separator.vertical,
.handle.vertical {
	background-color: @bg_color;
	background-image: url("img/holes_horiz.png");
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: auto;
}

.label {
	background-color: transparent;
}

.label:active
.label:hover {
	color: @selected_bg_color;
}

.label:insensitive {
	color: @selected_fg_color;
}

.menu {
	background-image: url("img/menu.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: padding-box;
}

.menuitem:active,
.menuitem:hover {
	background-color: transparent;
}

.menuitem,
.menuitem:insensitive {
	background-image: url("img/vgrad_dark.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: border-box;
	padding: 0px 0px;
}

.menubar {
	background-color: @bg_color;
	color: @selected_fg_color;
}

.scale.slider {
	background-color: transparent;
	background-image: url("img/knob_sz_14.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: border-box;
	padding: 0px 0px;
}

.scale.trough.horizontal {
	background-color: transparent;
	background-image: url("img/slider_run_base_horiz.png"),
		url("img/slider_run_bevel_horiz.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 5px, 100% 5px;
	background-origin: content-box, content-box;
	padding: 0px 0px;
}

.scale.trough.vertical {
	background-color: transparent;
	background-image: url("img/slider_run_base_vert.png"),
		url("img/slider_run_bevel_vert.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 5px 100%, 5px 100%;
	background-origin: content-box, content-box;
	padding: 0px 0px;
}


.shadow.in,
.shadow.etched.in {
	border-image: url("img/bevel_in.png") 1 1 1 1 / 1 1 1 1 stretch;
}

.shadow.out,
.shadow.etched.out {
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1 1 1 1 stretch;
}

.scrollbar.trough.vertical {
	background-color: transparent;
	background-image: url("img/trough_vert.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 100%;
}
.scrollbar.trough.horizontal {
	background-color: transparent;
	background-image: url("img/trough_horiz.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 15px;
}

.scrollbar.slider.vertical,
.scrollbar.slider.vertical:insensitive {
	background-color: transparent;
	background-image: url("img/holes_tiny_vert.png"),
		url("img/slider_vert.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, 15px 100%;
}
.scrollbar.slider.vertical:active,
.scrollbar.slider.vertical:hover {
	background-color: transparent;
	background-image: url("img/holes_tiny_vert.png"),
		url("img/slider_vert.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, 15px 100%;
}
.scrollbar.slider.horizontal,
.scrollbar.slider.horizontal:insensitive {
	background-color: transparent;
	background-image: url("img/holes_tiny_horiz.png"),
		url("img/slider_horiz.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, 100% 15px;
}
.scrollbar.slider.horizontal:active,
.scrollbar.slider.horizontal:hover {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_horiz.png"),
		url("img/slider_horiz.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, 100% 15px;
}

.scrollbar.button {
	background-color: transparent;
}

.toolbar {
	background-image: url("img/tasklist_button_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: padding-box;
	padding: 1px 2px;
	border-image: url("img/null.png") 1 1 1 1 / 1 1 1 1 stretch;
}

.tooltip {
	border-image: url("img/bevel_dark_out.png") 1 1 1 1 / 1 1 1 1 stretch;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

/*
 * vim:fenc=utf-8:ft=css:ci:pi:sts=0:sw=4:ts=4:
 */
