/* 
 * e-gtk-theme-0.16.8
 * e/gtk-3.0/common.css
 */

.background { background-color: @bg_color }

.button,
.button:prelight {
	background-color: transparent;
	background-image: url("img/button_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110% 105%;
	background-origin: padding-box;
	border-image: url("img/null.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.button:active,
.button:hover,
.button:insensitive {
	background-color: transparent;
	background-image: url("img/button_clicked.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 115% 110%;
	background-origin: padding-box;
	border-image: url("img/null.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}

column-header .button,
column-header .button:insensitive {
	background-image: url("img/holes_tiny_vert.png"), url("img/holes_tiny_vert.png"),
		url("img/vgrad_med_curved.png");
	background-origin: content-box, content-box, border-box;
	background-position: left center, right center, center;
	background-repeat: no-repeat;
	background-size: auto, auto, 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
column-header .button:active,
column-header .button:hover {
	background-image: url("img/holes_tiny_vert.png"), url("img/holes_tiny_vert.png"),
		url("img/vgrad_dark.png");
	background-origin: content-box, content-box, border-box;
	background-position: left center, right center, center;
	background-repeat: no-repeat;
	background-size: auto, auto, 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	color: @selected_bg_color;
}

.check,
.check:insensitive {
	background-color: transparent;
	background-image: url("img/inset_shadow_square_tiny.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 11px 11px;
}

.check:active,
.check:hover {
	background-color: transparent;
	background-image: url("img/inset_shadow_square_tiny_in.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 11px 11px;
}

.combobox.button {
	background-image: url("img/button_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110% 115%;
}


.radio {
	background-color: transparent;
	background-image: url("img/inset_shadow_circle_tiny.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 13px 13px;
}

.radio:insensitive {
	background-color: transparent;
	background-image: url("img/inset_shadow_circle_tiny_ins.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 13px 13px;
}

.radio:hover,
.radio:active {
	background-color: transparent;
	background-image: url("img/inset_shadow_circle_tiny_in.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 13px 13px;
}

.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:hover,
.scrollbar.button:insensitive {
	background-color: transparent;
	border-style: solid;
	border-image: none;
	border-radius: 0px;
	border-color: transparent;
	border-width: 0px;
	color: transparent;
}

.separator.horizontal {
	background-color: transparent;
	padding: 0px;
	background-image: url("img/separator_horiz.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-origin: border-box;
}

.separator.vertical {
	background-color: transparent;
	padding: 0px;
	background-image: url("img/separator_vert.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2px 100%;
	background-origin: border-box;
}

.arrow.up,
.scrollbar.button.top {
	background-color: transparent;
	background-image: url("img/sym_up_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.up:hover,
.scrollbar.button.top:hover {
	background-color: transparent;
	background-image: url("img/sym_up_glow_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.up:active,
.scrollbar.button.top:active {
	background-color: transparent;
	background-image: url("img/sym_up_dark_selected.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.up:insensitive,
.scrollbar.button.top:insensitive {
	background-color: transparent;
	background-image: url("img/sym_up_dark_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.arrow.down,
.scrollbar.button.bottom {
	background-color: transparent;
	background-image: url("img/sym_down_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.down:hover,
.scrollbar.button.bottom:hover {
	background-color: transparent;
	background-image: url("img/sym_down_glow_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.down:active,
.scrollbar.button.bottom:active {
	background-color: transparent;
	background-image: url("img/sym_down_dark_selected.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.down:insensitive,
.scrollbar.button.bottom:insensitive {
	background-color: transparent;
	background-image: url("img/sym_down_dark_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.arrow.right:active,
.menuitem.arrow:active,
.scrollbar.button.right:active {
	background-color: transparent;
	background-image: url("img/sym_right_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.right,
.menuitem.arrow,
.scrollbar.button.right {
	background-color: transparent;
	background-image: url("img/sym_right_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.right:hover,
.menuitem.arrow:hover,
.scrollbar.button.right:hover {
	background-color: transparent;
	background-image: url("img/sym_right_glow_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.right:insensitive,
.menuitem.arrow:insensitive,
.scrollbar.button.right:insensitive {
	background-color: transparent;
	background-image: url("img/sym_right_dark_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.arrow.left,
.scrollbar.button.left {
	background-color: transparent;
	background-image: url("img/sym_left_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.left:active
.scrollbar.button.left:active {
	background-color: transparent;
	background-image: url("img/sym_left_dark_selected.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.left:hover,
.scrollbar.button.left:hover {
	background-color: transparent;
	background-image: url("img/sym_left_glow_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.left:insensitive,
.scrollbar.button.left:insensitive {
	background-color: transparent;
	background-image: url("img/sym_left_dark_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.entry {
	background-color: shade(@bg_color,0.86);
	border-width: 1px;
	border-image: url("img/bevel_in.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	box-shadow: inset 0px 0px 2px 2px shade(@bg_color,0.76);
	padding: 2px;
}

.entry:focus {
	border-width: 2px;
	border-image: url("img/outline_glow.png") 1 1 1 1 / 2px 2px 2px 2px stretch;
	box-shadow: inset 0px 0px 2px 2px shade(@bg_color,0.66);
	padding: 2px;
}
.entry:insensitive {
	color: shade(@insensitive_fg_color,0.86);
}

.frame {
	background-color: shade(@bg_color,0.66);
	border-width: 1px;
	border-image: url("img/bevel_in.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	box-shadow: inset 0px 0px 2px 2px shade(@bg_color,0.66);
	padding: 2px;
}

.pane-separator.horizontal,
.handle.horizontal {
	background-color: transparent;
	background-image: url("img/holes_tiny_vert.png");
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}
GtkComboBox .separator,
.pane-separator.vertical,
.handle.vertical {
	background-color: transparent;
	background-image: url("img/holes_tiny_horiz.png");
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: auto;
}

.menu {
	color: @fg_color;
	background-image: url("img/menu.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: padding-box;
	padding: 0px;
}

.menuitem:active,
.menuitem:hover {
	background-color: transparent;
}

.menuitem,
.menuitem:insensitive {
	background-image: url("img/vgrad_dark.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: border-box;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	padding: 0px;
}

.menubar {
	background-color: @bg_color;
	color: shade(@selected_fg_color,0.76);
}

.menubar > .menuitem {
	background-image: url("img/shadow_angled_in_sides_glow.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: border-box;
}

.scale.slider {
	background-color: transparent;
	background-image: url("img/knob_sz_14.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: border-box;
	padding: 0px;
}

.scale.trough.horizontal {
	background-color: transparent;
	background-image: url("img/slider_run_bevel_horiz.png"),
		url("img/slider_run_base_horiz.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 5px, 100% 5px;
	background-origin: content-box, content-box;
	padding: 0px 0px;
}

.scale.trough.vertical {
	background-color: transparent;
	background-image: url("img/slider_run_bevel_vert.png"),
		url("img/slider_run_base_vert.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 5px 100%, 5px 100%;
	background-origin: content-box, content-box;
	padding: 0px 0px;
}


GtkFrame.shadow.in,
GtkFrame.shadow.etched.in,
.shadow.in,
.shadow.etched.in {
	border-width: 1px 1px 1px 1px;
	border-image: url("img/bevel_in.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}

GtkFrame.shadow.out,
GtkFrame.shadow.etched.out,
.shadow.out,
.shadow.etched.out {
	border-width: 1px 1px 1px 1px;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}

.scrollbar.trough.vertical {
	background-color: transparent;
	background-image: url("img/slider_run_bevel_vert.png"),
		url("img/slider_run_base_vert.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 3px 100%, 3px 100%;
}

.scrollbar.trough.horizontal {
	background-color: transparent;
	background-image: url("img/slider_run_bevel_horiz.png"),
		url("img/slider_run_base_horiz.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 3px, 100% 3px;
}

.scrollbar.slider.vertical {
	background-color: transparent;
	background-image: url("img/holes_tiny_vert.png"),
		url("img/slider_vert.png"),
		url("img/shadow_square_tiny.png");
	background-position: center, 0px 1px, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, 15px 100%, 13px 100%;
}
.scrollbar.slider.vertical:hover {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_vert.png"),
		url("img/slider_vert.png"),
		url("img/shadow_square_tiny.png");
	background-position: center, 0px 1px, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, 15px 100%, 13px 100%;
}
.scrollbar.slider.vertical:active {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_vert.png"),
		url("img/slider_vert.png"),
		url("img/outline_glow.png");
	background-position: center, 0px 1px, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, 15px 100%, 13px 100%;
}

.scrollbar.slider.horizontal {
	background-color: transparent;
	background-image: url("img/holes_tiny_horiz.png"),
		url("img/slider_horiz.png"),
		url("img/shadow_square_tiny.png");
	background-position: center, 1px 0px, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, 100% 15px, 13px 100%;
}
.scrollbar.slider.horizontal:hover {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_horiz.png"),
		url("img/slider_horiz.png"),
		url("img/shadow_square_tiny.png");
	background-position: center, 1px 0px, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, 100% 15px, 13px 100%;
}
.scrollbar.slider.horizontal:active {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_horiz.png"),
		url("img/slider_horiz.png"),
		url("img/outline_glow.png");
	background-position: center, 1px 0px, center center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, 100% 15px, 100% 13px;
}

.scrollbar.button {
	background-color: transparent;
}

.spinbutton .button.down {
	background-image: url("img/button_spin_down_normal.png");
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 2px;
}
.spinbutton .button.up {
	background-image: url("img/button_spin_up_normal.png");
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 2px;
}

.notebook {
	background-color: shade(@base_color,0.88);
	background-image: url("img/vgrad_med_curved.png");
	background-origin: border-box;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% 15px;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.notebook:active,
.notebook:focus {
	background-image: url("img/runner_glow_horiz.png"), url("img/runner_glow_horiz.png"),
		url("img/runner_glow_vert.png"), url("img/runner_glow_vert.png"),
		url("img/vgrad_med_curved.png");
	background-origin: padding-box; padding-box, padding-box, padding-box, border-box;
	background-position: center top, center bottom, left center, right center, center top;
	background-repeat: no-repeat;
	background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%, 100% 15px;
	border-width: 1px;
}

.tab.top,
.notebook tab.top {
	padding: 0px;
	background-image: url("img/vgrad_med_curved.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab.top:active,
.notebook tab.top:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_glow.png"),
		url("img/vgrad_dark.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
}

tab.right,
.notebook tab.right {
	padding: 0px;
	background-image: url("img/vgrad_med_curved_left.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab.right:active,
.notebook tab.right:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_left.png"),
		url("img/vgrad_dark_left.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 110% 100%, 100% 100%;
}

.tab.left,
.notebook tab.left {
	padding: 0px;
	background-image: url("img/vgrad_med_curved_right.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab.left:active,
.notebook tab.left:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_right.png"),
		url("img/vgrad_dark_right.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
}

.tab.bottom,
.notebook tab.bottom {
	padding: 0px;
	background-image: url("img/vgrad_med_curved_top.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab.bottom:active,
.notebook tab.bottom:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_top.png"),
		url("img/vgrad_dark_top.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
}

.tab,
.notebook tab {
	padding: 0px;
	background-image: url("img/vgrad_med_curved.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab:active,
.notebook tab:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_glow.png"),
		url("img/vgrad_dark.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
}

.switch > .button {
	background-color: transparent;
	background-image: url("img/tasklist_button_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
}

.toolbar {
	background-color: transparent;
	background-image: url("img/button_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 115% 105%;
	background-origin: padding-box;
	border-image: url("img/null.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}

.tooltip {
	border-image: url("img/bevel_dark_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	border-style: solid;
	border-width: 1px;
	color: @tooltip_fg_color;
}

/*
 * vim:fenc=utf-8:ft=css:ci:pi:sts=0:sw=4:ts=4:
 */
