/*
 * $Name:    e-gtk-theme-0.17.0                        Exp $
 * $Header:  e/gtk-3.0/common.css, 2014/08/08 -tclover Exp $
 * $License: 2-clause BSD, see COPYRIGHT file          Exp $
 */

.background { background-color: @bg_color }
.color { background-color: @fg_color }

.button,
.button:hover {
	background-color: transparent;
	background-image: url("img/button_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110% 105%;
	background-origin: content-box;
	padding: 1px;
}
.button:active,
.button:insensitive {
	background-color: transparent;
	background-image: url("img/button_clicked.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110% 105%;
	background-origin: content-box;
	padding: 1px;
}

column-header .button,
column-header .button:insensitive {
	background-image: url("img/holes_tiny_vert.png"), url("img/holes_tiny_vert.png"),
		url("img/vgrad_med_curved.png");
	background-origin: content-box, content-box, border-box;
	background-position: left center, right center, center;
	background-repeat: no-repeat;
	background-size: auto, auto, 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
column-header .button:active,
column-header .button:hover {
	background-image: url("img/holes_tiny_vert.png"), url("img/holes_tiny_vert.png"),
		url("img/vgrad_dark.png");
	background-origin: content-box, content-box, border-box;
	background-position: left center, right center, center;
	background-repeat: no-repeat;
	background-size: auto, auto, 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	color: @selected_bg_color;
}

.check,
.check:insensitive {
	background-color: transparent;
	background-image: url("img/inset_shadow_square_tiny.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 11px 11px;
}

.check:active,
.check:hover {
	background-color: transparent;
	background-image: url("img/inset_shadow_square_tiny_in.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 11px 11px;
}

.radio {
	background-color: transparent;
	background-image: url("img/inset_shadow_circle_tiny.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 13px 13px;
}

.radio:insensitive {
	background-color: transparent;
	background-image: url("img/inset_shadow_circle_tiny_ins.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 13px 13px;
}

.radio:hover,
.radio:active {
	background-color: transparent;
	background-image: url("img/inset_shadow_circle_tiny_in.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 13px 13px;
}

.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:hover,
.scrollbar.button:insensitive {
	background-color: transparent;
	border-style: solid;
	border-image: none;
	border-radius: 0px;
	border-color: transparent;
	border-width: 0px;
	color: transparent;
}

.separator.horizontal {
	background-color: transparent;
	padding: 0px;
	background-image: url("img/separator_horiz.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-origin: border-box;
}

.separator.vertical {
	background-color: transparent;
	padding: 0px;
	background-image: url("img/separator_vert.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2px 100%;
	background-origin: border-box;
}

.button.seprator,
.menuitem.separator,
*.separator { 
	border: none;
	color: shade(@bg_color,0.75);
}

.arrow.up,
.scrollbar.button.top {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_up_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.up:hover,
.scrollbar.button.top:hover {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_up_glow_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.up:active,
.scrollbar.button.top:active {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_up_dark_selected.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.up:insensitive,
.scrollbar.button.top:insensitive {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_up_dark_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.arrow.down,
.scrollbar.button.bottom {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_down_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.down:hover,
.expander.expanded:hover,
.scrollbar.button.bottom:hover {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_down_glow_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.down:active,
.expander.expanded:active,
.scrollbar.button.bottom:active {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_down_dark_selected.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.down:insensitive,
.expander.expanded,
.scrollbar.button.bottom:insensitive {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_down_dark_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.arrow.right:active,
.expander.collapsed:active,
.menuitem.arrow:active,
.scrollbar.button.right:active {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_right_dark_selected.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.right,
.expander.collapsed,
.menuitem.arrow,
.scrollbar.button.right {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_right_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.right:hover,
.expander.collapsed:hover,
.menuitem.arrow:hover,
.scrollbar.button.right:hover {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_right_glow_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.right:insensitive,
.menuitem.arrow:insensitive,
.scrollbar.button.right:insensitive {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_right_dark_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.arrow.left,
.scrollbar.button.left {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_left_light_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.left:active
.scrollbar.button.left:active {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_left_dark_selected.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.left:hover,
.scrollbar.button.left:hover {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_left_glow_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.arrow.left:insensitive,
.scrollbar.button.left:insensitive {
	engine: adwaita;
	background-color: transparent;
	background-image: url("img/sym_left_dark_normal.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.entry {
	background-color: shade(@bg_color,0.86);
	background-image: url("img/inset_shadow.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120% 100%;
	border-image: url("img/bevel_in.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	padding: 3px;
}

.entry:focus {
	border-width: 2px;
	border-image: url("img/outline_glow.png") 1 1 1 1 / 2px 2px 2px 2px stretch;
	box-shadow: inset 0px 0px 2px 2px shade(@bg_color,0.66);
	padding: 3px;
}
.entry:insensitive {
	color: shade(@insensitive_fg_color,0.86);
}

.entry.progressbar {
	background-color: @selected_fg_color;
	color: @selected_bg_color;
}

.frame {
	background-color: @bg_color;
	border-image: url("img/bevel_in.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.frame shadow-gap,
.notebook > shadow-gap {
	background-color: @bg_color;
	border-image: url("img/bevel_in.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.frame gap-end,
.notebook > gap-end {
	background-color: @bg_color;
	background-image: url("img/frame_gap.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.frame gap-start,
.notebook > gap-start {
	background-color: @bg_color;
	background-image: url("img/frame_gap.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.grip {
    background-color: transparent;
    background-image: url("img/hole_tiny.png");
}

.pane-separator.horizontal,
.handle.horizontal {
	background-color: transparent;
	background-image: url("img/holes_vert.png");
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}
.pane-separator.vertical,
.handle.vertical {
	background-color: transparent;
	background-image: url("img/holes_horiz.png");
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: auto;
}

.menu {
	color: @fg_color;
	background-image: url("img/shine.png"), url("img/menu.png");
	background-position: center -2px, center;
	background-repeat: no-repeat;
	background-size: auto, 100% 100%;
	background-origin: padding-box;
	padding: 0px;
}

.menuitem,
.menuitem:active,
.menuitem:hover {
	background-color: transparent;
	padding: 2px 2px;
}

.menuitem:active,
.menuitem:hover {
    color: @selected_bg_color;
	background-image: url("img/shine.png"), url("img/vgrad_dark.png");
	background-position: center -2px, center;
	background-repeat: no-repeat;
	background-size: auto, 100% 100%;
	background-origin: border-box;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}

.menubar {
	background-color: @bg_color;
	background-image: url("img/separator_horiz.png");
	background-origin: border-box;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 2px;
}

.menubar > .menuitem:active,
.menubar > .menuitem:hover {
    background: transparent;
	background-image: url("img/bg_radgrad.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: border-box;
}

.scale.slider {
	background-color: transparent;
	background-image: url("img/knob_sz_14.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: border-box;
	padding: 0px;
}

GtkLevelBar,
GtkSwitch.trough,
.level-bar.trough.horizontal,
.progressbar.trough.horizontal,
.scale.trough.horizontal {
	background-color: transparent;
	background-image: url("img/slider_run_bevel_horiz.png"),
		url("img/slider_run_base_horiz.png");
	background-position: center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 5px, 100% 5px;
}
.level-bar.trough.vertical,
.progressbar.trough.vertical,
.scale.trough.vertical {
	background-color: transparent;
	background-image: url("img/slider_run_bevel_vert.png"),
		url("img/slider_run_base_vert.png");
	background-position: center;
	background-repeat: no-repeat, no-repeat;
	background-size: 5px 100%, 5px 100%;
}

.level-bar.fill-block.horizontal,
.level-bar.fill-block.empty-fill-block.horizontal,
.level-bar.fill-block.level-low.horizontal,
.level-bar.fill-block.level-high.horizontal,
.progressbar.fill-block.horizontal,
.scale.progressbar.horizontal {
	background-color: transparent;
	background-image: url("img/horiz_glow_run.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3px 100%;
	background-origin: content-box;
	padding: 0px;
}
.level-bar.fill-block.vertical,
.level-bar.fill-block.empty-fill-block.vertical,
.level-bar.fill-block.level-low.vertical,
.level-bar.fill-block.level-high.vertical,
.progressbar.fill-block.vertical,
.scale.progressbar.vertical {
	background-color: transparent;
	background-image: url("img/vert_glow_run.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 3px;
	background-origin: content-box;
	padding: 0px;
}

.level-bar.fill-block.level-low { background-color: alpha(red,0.5) }
.level-bar.fill-block.level-high { background-color: alpha(blue,0.5) }

.frame.shadow.in,
.frame.shadow.etched.in,
.shadow.in,
.shadow.etched.in {
	border-width: 1px 1px 1px 1px;
	border-image: url("img/bevel_in.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}

.frame.shadow.out,
.frame.shadow.etched.out,
.shadow.out,
.shadow.etched.out {
	border-width: 1px 1px 1px 1px;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}

.scrollbar.trough.vertical {
	background-color: transparent;
	background-image: url("img/trough_vert.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 100%;
}

.scrollbar.trough.horizontal {
	background-color: transparent;
	background-image: url("img/trough_horiz.png");
	background-repeat: no-repeat;
	background-size: 100% 15px;
}

.scrollbar.slider.vertical {
	background-color: transparent;
	background-image: url("img/holes_tiny_vert.png"),
		url("img/slider_vert.png"),
		url("img/shadow_square_tiny.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto, 15px 104%, 13px 100%;
}
.scrollbar.slider.vertical:hover {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_vert.png"),
		url("img/slider_vert.png"),
		url("img/shadow_square_tiny.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto, 15px 104%, 13px 100%;
}
.scrollbar.slider.vertical:active {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_vert.png"),
		url("img/slider_vert.png"),
		url("img/outline_glow.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto, 15px 104%, 13px 100%;
}

.scrollbar.slider.horizontal {
	background-color: transparent;
	background-image: url("img/holes_tiny_horiz.png"),
		url("img/slider_horiz.png"),
		url("img/shadow_square_tiny.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto, 104% 15px, 13px 100%;
}
.scrollbar.slider.horizontal:hover {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_horiz.png"),
		url("img/slider_horiz.png"),
		url("img/shadow_square_tiny.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto, 104% 15px, 13px 100%;
}
.scrollbar.slider.horizontal:active {
	background-color: transparent;
	background-image: url("img/holes_tiny_glow_horiz.png"),
		url("img/slider_horiz.png"),
		url("img/outline_glow.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto, 104% 15px, 100% 13px;
}

.scrollbar.button {
	background-color: transparent;
}

.spinbutton .button.down { padding: 1px 2px }
.spinbutton .button.down {
	background-image: url("img/button_spin_down_normal.png");
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.spinbutton .button.up {
	background-image: url("img/button_spin_up_normal.png");
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.box,
.grid,
.table,
.notebook {
	background-color: #404040;
	background-image: url("img/bg_notebook.png");
	background-origin: padding-box;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% 163px;
	border-image: url("img/bevel_out.png") 2 1 1 1 / 1px 1px 1px 1px stretch;
}
.notebook:active,
.notebook:focus {
	background-image: url("img/runner_glow_horiz.png"), url("img/runner_glow_horiz.png"),
		url("img/runner_glow_vert.png"), url("img/runner_glow_vert.png"),
		url("img/bg_notebook.png");
	background-origin: padding-box;
	background-position: center top, center bottom, left center, right center, center top;
	background-repeat: no-repeat;
	background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%, 100% 163px;
	border-image: url("img/bevel_out.png") 2 1 1 1 / 1px 1px 1px 1px stretch;
}

.spinner {
	background-color: transparent;
	background-image: url("img/knob_round_busy.png"), url("img/glow_round_corners.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
}

.tab.top,
.notebook tab.top {
	padding: 0px;
	background-image: url("img/vgrad_med_curved.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab.top:active,
.notebook tab.top:active {
	padding: 0px;
	background-image: url("img/shine.png"),
		url("img/shadow_angled_in_sides_glow.png"), url("img/vgrad_dark.png");
	background-position: center -2px, center, center;
	background-repeat: no-repeat;
	background-size: auto, 100% 100%, 100% 100%;
}

.tab.right,
.notebook tab.right {
	padding: 0px;
	background-image: url("img/vgrad_med_curved_left.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab.right:active,
.notebook tab.right:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_left.png"),
		url("img/vgrad_dark_left.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 110% 100%, 100% 100%;
}

.tab.left,
.notebook tab.left {
	padding: 0px;
	background-image: url("img/vgrad_med_curved_right.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab.left:active,
.notebook tab.left:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_right.png"),
		url("img/vgrad_dark_right.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
}

.tab.bottom,
.notebook tab.bottom {
	padding: 0px;
	background-image: url("img/vgrad_med_curved_top.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab.bottom:active,
.notebook tab.bottom:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_top.png"),
		url("img/vgrad_dark_top.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
}

.tab,
.notebook tab {
	padding: 0px;
	background-image: url("img/vgrad_med_curved.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
}
.tab:active,
.notebook tab:active {
	padding: 0px;
	background-image: url("img/shadow_angled_in_sides_glow.png"),
		url("img/vgrad_dark.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
}

GtkSwitch.slider {
	background-color: transparent;
	background-image: url("img/led_dark.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
GtkSwitch.slider:active,
GtkSwitch.slider:hover {
	background-color: transparent;
	background-image: url("img/led_light.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.action-bar,
.header-bar,
.search-bar,
.toolbar {
	background-color: @bg_color;
	background-image: url("img/button_normal.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110% 105%;
	border-image: url("img/null.png") 0 0 0 0 / 1px 1px 1px 1px stretch;
}

.info-bar,
.tooltip {
	color: @tooltip_bg_color;
	background-image: url("img/bg_notebook.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-image: url("img/bevel_dark_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	color: @tooltip_fg_color;
}

GtkToolButton { background: transparent }

GtkToolItemGroup {
	background-color: @bg_color;
	color: shade(@selected_fg_color,0.76);
	background-image: url("img/holes_tiny_vert.png"), url("img/bg_radgrad.png");
	background-position: center;
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
	background-origin: content-box;
	padding: 2px;
}

/*
 * vim:fenc=utf-8:ft=css:ci:pi:sts=0:sw=4:ts=4:
 */
