/*
 * $Name:    e-gtk-theme-0.17.0                     Exp $
 * $Header:  e/gtk-3.0/gtk.css, 2014/08/08 -tclover Exp $
 * $License: 2-clause BSD, see COPYRIGHT file       Exp $
 *
 * this is a gtk+-2 theme to match the new enlightenment DR17
 * window manager dark default theme
 * copyright/left: 2012-2014 tokiclover/tclover
 * intertube: https://github.com/tokiclover/e-gtk-theme
 */

@define-color base_color #484848;
@define-color bg_color #383838;
@define-color fg_color #fafafa;
@define-color text_color #fafafa;
@define-color selected_bg_color #245f99;
@define-color selected_fg_color #181818;
@define-color insensitive_bg_color shade(@selected_bg_color,0.76);
@define-color insensitive_fg_color shade(@selected_fg_color,0.76);
@define-color tooltip_bg_color #181818;
@define-color tooltip_fg_color #aaaaaa;
@define-color link_color shade(@selected_bg_color,1.1);

@define-color info_fg_color @fg_color;
@define-color info_bg_color @bg_color;
@define-color warning_fg_color @text_color;
@define-color warning_bg_color @base_color;
@define-color question_fg_color @text_color;
@define-color question_bg_color @base_color;
@define-color error_fg_color @text_color;
@define-color error_bg_color @base_color;

* {
	border-width: 2px;
	padding: 2px;
	background-color: @base_color;
	background-clip: padding-box;
	color: @fg_color;

	-GtkScrollbar-has-backward-stepper: true;
	-GtkScrollbar-has-forward-stepper: true;
	-GtkScrollbar-has-secondary-backward-stepper: false;
	-GtkScrollbar-has-secondary-forward-stepper: false;
	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-border: 0px;
	-GtkRange-trough-under-steppers: false;
	-GtkRange-slider-width: 15;
	-GtkScrollbar-min-slider-length: 42;

	-GtkScale-slider-width: 16;
	-GtkScale-slider-length: 16;
	-GtkScale-trough-border: 0;
	-GtkScale-value-spacing: 0;

	-GtkNotebook-tab-overlap: -1;
	-GtkNotebook-tab-curvature: 0;

	-GtkArrow-arrow-scaling: 1.0;
	-GtkCheckButton-indicator-size: 11;
	-GtkCheckMenuItem-indicator-size: 11;
	-GtkToolButton-icon-spacing: 0;
	-GtkTextView-error-underline-color: @text_color;
	-GtkPaned-handle-size: 6;
	-GtkProgressBar-min-horizontal-bar-height: 13;
	-GtkProgressBar-min-horizontal-bar-width: 80;
	-GtkProgressBar-min-vertical-bar-height: 80;
	-GtkProgressBar-min-vertical-bar-width: 13;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: false;
	-GtkToolItemGroup-expander-size: 15;
	-GtkTreeView-indent-expanders: true;
	-GtkExpander-expander-size: 15;
	-GtkMenu-horizontal-padding: 0;
	-GtkMenu-vertical-padding: 0;
	-GtkIMHtml-hyperlink-color: @link_color;
	-GtkHTML-link-color: @link_color;
	-WnckTasklist-fade-overlay-rect: 0;

	-GtkWidget-link-color: @link_color;
	-GtkWidget-visited-link-color: darker(@link_color);
	-GtkWidget-focus-padding: 2;
	-GtkWidget-focus-line-width: 0;
	-GtkWindow-resize-grip-width: 5;
	-GtkWindow-resize-grip-height: 5; 
	-GtkWidget-cursor-color: @text_color;
	-GtkWidget-cursor-aspect-ratio: 0.1; 
	-GtkWidget-secondary-cursor-color: darker(@text_color);  

	-GtkEntry-cursor-color: @text_color;
	-GtkEntry-inner-border: 1px;
}

* { color: inherit }
* { background-color: inherit }

*:active,
*:selected,
*:selected:focus { color: @selected_bg_color }

*:insensitive { color: @insensitive_fg_color }

GtkMenuButton,
GtkBox { background-color: transparent }
GtkBox { padding: 0px }

.prompt,
GtkDialog {
	background-color: @base_color;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	padding: 0px;
}

GtkImage { color: @selected_fg_color }

GtkImage:active,
GtkImage:hover,
GtkImage:selected,
GtkLabel:active,
GtkLabel:hover,
GtkLabel:selected { color: @selected_bg_color }

GtkImage:insensitive,
GtkLabel:insensitive { color: @insensitive_fg_color }

GtkSwitch { text-shadow: 2px 2px 2px @selected_fg_color }

GtkTreeView row:nth-child(even) {
	background-color: shade(@base_color,0.96);
	background-image: url("img/separator_horiz.png");
	background-origin: border-box;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% 2px;
}
GtkTreeView row:nth-child(odd) {
	background-color: shade(@bg_color,1.04);
	background-image: url("img/separator_horiz.png");
	background-origin: border-box;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% 2px;
}
GtkTreeView row:selected {
	background-image: url("img/vgrad_dark.png");
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-image: url("img/bevel_out.png") 1 1 1 1 / 1px 1px 1px 1px stretch;
	color: @selected_bg_color;
}

@import url("common.css");
@import url("apps/term.css");

/*
 * vim:fenc=utf-8:ft=css:ci:pi:sts=0:sw=4:ts=4:
 */
